name: Commitlint

on:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: read
  pull-requests: read

jobs:
  lint:
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v6
      - name: Validate commits with commitlint
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: commitlint.config.cjs
